<div class="chat-container">

  <div class="messages" #scrollContainer>

    <div
      *ngFor="let m of messages" class="msg" 
      [class.user]="m.role==='user'"  [class.ai]="m.role==='assistant'">

      <strong>{{ m.role }}:</strong>

      <div
        class="message-content"
        [innerHTML]="render(m.content)">
      </div>

    </div>

  </div>
  <div  class="typing"  *ngIf="isThinking">
    DeepSeek is thinking...
  </div>
  <div class="input-area">

    <input [(ngModel)]="input"   placeholder="پیام خود را بنویس..."  (keyup.enter)="send()"  />

    <button (click)="send()">ارسال</button>

  </div>

</div>
