<div class="layout" *ngIf="!isLoginPage">

    <aside class="sidebar" [class.collapsed]="sidebarCollapsed">
        <app-conversation-list [collapsed]="sidebarCollapsed"></app-conversation-list>
    </aside>
    <div class="content">
        <header class="topbar">
            <div class="topbar-left">
                <button class="menu-btn" (click)="toggleSidebar()" aria-label="باز/بستن منو">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>

            <div class="topbar-right">
                <button class="theme-btn" (click)="toggleTheme()" aria-label="تغییر تم">
                    <i class="fa-solid" [class.fa-sun]="isDark()" [class.fa-moon]="!isDark()"></i>
                </button>
                <button class="users-btn" (click)="usersRoute()" *ngIf="isAdmin">
                    <i class="fa-solid fa-users"></i> مدیریت کاربران
                </button>
                <button (click)="aiHealthRoute()" class="users-btn" *ngIf="isAdmin">
                    <i class="fa-solid fa-microchip"></i> وضعیت سرور AI (Ollama)
                </button>

                <button (click)="activeDirectoryRoute()" class="users-btn btn-outline-danger" *ngIf="isAdmin">
                    <i class="fa-solid fa-building"></i> تنظیمات Active Directory
                </button>
            </div>

        </header>

        <main class="chat-area">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>


<router-outlet *ngIf="isLoginPage"></router-outlet>