<div class="layout" *ngIf="!isLoginPage">

    <aside class="sidebar" [class.collapsed]="sidebarCollapsed">
        <app-conversation-list [collapsed]="sidebarCollapsed"></app-conversation-list>
    </aside>
    <div class="content">
        <header class="topbar">
            <div class="topbar-left">
                <button class="menu-btn" (click)="toggleSidebar()">
                    ☰
                </button>
            </div>

            <div class="topbar-right">
                <button class="theme-btn" (click)="toggleTheme()">🌙</button>
                <button class="users-btn" (click)="usersRoute()" *ngIf="isAdmin">مدیریت کاربران</button>
                <button (click)="aiHealthRoute()" class="users-btn "   *ngIf="isAdmin">
                    🔧 وضعیت سرور AI (Ollama)
                </button>

                <button (click)="activeDirectoryRoute()" class=" users-btn btn-outline-danger"   *ngIf="isAdmin">
                    🔧 تنظیمات Active Direcotry
                </button>
            </div>

        </header>

        <main class="chat-area">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>


<router-outlet *ngIf="isLoginPage"></router-outlet>